/* You can add global styles to this file, and also import other style files */
// @use 'tailwindcss';

$font-stint: 'Stint Ultra Expanded', serif;
$font-proza: 'Proza Libre', sans-serif;
$font-lexend: 'Lexend Mega', sans-serif;
$font-public: 'Public Sans', sans-serif;

body {
  font-family: 'Public Sans';
}
