@page "/chats"
@rendermode InteractiveServer
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using WhatTheMessenger.Core.Models
@using WhatTheMessenger.Infrastructure.DataAccess
@using WhatTheMessenger.Server.Components.Shared

@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation

<PageTitle>Chats</PageTitle>

<AuthorizeView>
    <h3>
        Hello @context.User.Identity?.Name!
    </h3>

    @if (userChats == null)
    {
        <p>Loading your chats...</p>
    }
    else if (!userChats.Any())
    {
        <p class="alert alert-info">You don't have any chats yet.</p>
    }
    else
    {
        <div>

                @foreach (var chat in userChats)
                {
                    <div class="row">
                        <ChatItem Chat="@chat"/>
                    </div>
                }
        </div>
    }

    <button @onclick="CreateChat">New</button>
</AuthorizeView>

@code {
    private List<Chat> userChats = [];
    private User? currentUser = default;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            currentUser = await GetUserFromAuthAsync();

            if (currentUser is null)
            {
                Navigation.NavigateTo("auth/logout");
                return;
            }

            LoadChats(currentUser);
        }

        StateHasChanged();
    }

    private async Task CreateChat()
    {
        var chat = new Chat()
        {
            Id = default!,
            Messages = [],
            Users = [currentUser]
        };

        await DbContext.Chats.AddAsync(chat);
        LoadChats(currentUser);

        StateHasChanged();
    }

    private void LoadChats(User user)
    {
        userChats = currentUser!.Chats.ToList();
    }

    private async Task<User?> GetUserFromAuthAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!(state.User.Identity?.IsAuthenticated ?? false))
            return null;

        var userId = state.User.FindFirst(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier);
        var userGuid = Guid.Parse(userId!.Value);
        return await DbContext.Users.FindAsync(userGuid);
    }
}
