@page "/chats/{chatId:guid}"
@rendermode InteractiveServer
@attribute [Authorize]
@implements IAsyncDisposable

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using WhatTheMessenger.Application.Interfaces
@using WhatTheMessenger.Application.Services
@using WhatTheMessenger.Core.Models
@using WhatTheMessenger.Application.Models
@using WhatTheMessenger.Infrastructure.DataAccess
@using WhatTheMessenger.Infrastructure.Hubs

@inject NavigationManager Navigation
@inject IAppDbContext DbContext
@inject ICurrentUserService CurrentUserService
@inject IChatService ChatService
@inject IHttpContextAccessor HttpContextAccessor
@inject HubConnection HubConnection

<h3>Chat</h3>

<PageTitle>WhatTheMessenger</PageTitle>

@if (messages == null)
{
    <p>Loading your chat...</p>
}
else if (!messages.Any())
{
    <p class="alert alert-info">You don't have any messages yet.</p>
}
else
{
    <div>
        @foreach (var message in messages)
        {
            <div class="row">
               @message.SenderName : @message.Content
            </div>
        }
    </div>
}

<EditForm Model="newMessage" method="post" OnValidSubmit="HandleValidSubmit" FormName="newMessageForm" class="fixed-bottom">
    <DataAnnotationsValidator />
    <ValidationSummary role="alert" />

    <div class="rounded-2 p-3 row bg-body-secondary">
        <div class="col mb-1 mt-1">
            <InputText @bind-Value="newMessage.Content" type="text" writingsuggestions="false" autocomplete="off" class="rounded-2 border-0 p-2 w-100" />
        </div>
        <div class="col-auto mb-1 mt-1">
            <button type="submit" class="rounded bg-primary text-white border-0 p-2">
                Send
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Guid ChatId { get; set; }

    private List<MessageDto> messages = null!;
    private NewMessageModel newMessage = new() { Content = string.Empty };
    private IDisposable? messageHandler;

    public async ValueTask DisposeAsync()
    {
        messageHandler?.Dispose(); // unregisters the handler
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var userId = await CurrentUserService.GetUserId();

            if (userId == null)
            {
                Navigation.NavigateTo("/login");
                return;
            }

            var chat = (await DbContext.Chats.FindAsync(ChatId))!;

            if (!(chat?.HasUser(userId.Value) ?? false))
            {
                Navigation.NavigateTo("/chats");
                return;
            }

            messages = chat.Messages.OrderBy(m => m.SentAt).Select(x => MessageDto.From(x)).ToList();

            StateHasChanged();
            
            if (HubConnection.State != HubConnectionState.Connected)
                await HubConnection.StartAsync();

            messageHandler = HubConnection.On<MessageDto>("MessageReceived", HandleNewMessage);
        }
    }

    private async Task HandleNewMessage(MessageDto messageDto)
    {
        if(ChatId == messageDto.ChatId)
        {
            messages.Add(messageDto);
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (newMessage == null || string.IsNullOrWhiteSpace(newMessage.Content))
            return;

        var userId = await CurrentUserService.GetUserId();
        if (!userId.HasValue)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        var chat = await DbContext.Chats.FindAsync(ChatId);
        if (!(chat?.HasUser(userId.Value) ?? false))
        {
            Navigation.NavigateTo("/chats");
            return;
        }

        var message = await ChatService.SendMessageAsync(newMessage, chat, userId.Value);
        @* messages.Add(MessageDto.From(message)); *@

        newMessage.Content = string.Empty;
        StateHasChanged();
    }
}
