@page "/auth/register"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Identity
@using WhatTheMessenger.Core.Models
@using WhatTheMessenger.Application.Models

@inject NavigationManager NavigationManager
@inject IUserStore<User> UserStore
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<h3>Register</h3>

<EditForm Model="Model" method="post" OnValidSubmit="HandleValidSubmit" FormName="register">
    <DataAnnotationsValidator />
    <ValidationSummary role="alert" />
    @Message
    <div class="w-25 rounded-2 bg-body-secondary p-3 text-start">
        <div class="row mb-1 mt-1">
            <span class="col-3">
                Nickname:
            </span>
            <InputText @bind-Value="Model!.Nickname" type="text" class="col rounded-2 border-0"/>
        </div>

        <div class="row mb-1 mt-1">
            <span class="col-3">
                Login:
            </span>
            <InputText @bind-Value="Model!.Login" type="text" class="col rounded-2 border-0" />
        </div>

        <div class="row mb-1 mt-1">
            <span class="col-3">
                Password:
            </span>
            <InputText @bind-Value="Model!.Password" type="password" class="col rounded-2 border-0" />
        </div>

        <div class="row mb-1 mt-4">
            <button type="submit" class="rounded bg-primary text-white border-0 p-1">
                Register
            </button>
        </div>
    </div>
</EditForm>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    [SupplyParameterFromForm]
    private RegisterModel? Model { get; set; } = default!;

    protected override void OnInitialized()
    {
        Model ??= new() { Login = string.Empty, Nickname = string.Empty, Password = string.Empty };
    }

    private async Task HandleValidSubmit()
    {
        if (Model is null)
            return;

        var user = new User()
        {
            DisplayName = Model.Nickname,
        };

        await UserStore.SetUserNameAsync(user, Model.Login.ToLower(), CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Model.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        await SignInManager.SignInAsync(user, true);
        NavigationManager.NavigateTo("/Chats/");
    }
}
